# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# IntelliJ project files
.idea
*.iml
*.settings
.classpath
.project
# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# sbteclipse plugin
target

#Mac files
.DS_Store

/test_output
/test-outout
/json-output

